backports.functools-lru-cache==1.6.4
basho-erlastic==2.1.1
beautifultable==1.1.0
contextlib2==0.6.0.post1
enum==0.4.7
numpy==1.16.6
protobuf==2.6.1
riak==2.7.0
schema==0.7.5
six==1.16.0
wcwidth==0.2.5
